@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main-container {
    background-image: url("https://res.cloudinary.com/du74u7bsh/image/upload/v1702900134/a_robot_walking_through_Harvar-2_uadesp.webp");
    height: 100vh;
    background-size: cover;
    width: 100%;
    position: fixed;
}

.main-container2 {
    background-color: #1D1D1D;
}

.close-btn-for-search {
    background-color: transparent;
    border: none;
    border-radius: 200px;
    width: auto;

}

.input-section {
    height: 80px;
    width: 260px;
    font-size: 20px;
    border-radius: 3px;
    border-color: #fff;
    background-color: #1D1D1D;
    align-self: center;
}

.after-click-search {
    display: none;
    background-color: #1D1D1D;
    height: 90px;
    padding: 20px;


}

.search-menu-section {
    display: flex;
    background-color: #1D1D1D;
    height: 90px;
    width: auto;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 130px;
    width: 190px;
    margin-left: 30px;
    margin-top: -15px;
}

.nav-bar-section {
    display: flex;
    justify-content: space-between;

}

.nav-bar-icon {
    height: 90px;
    width: 90px;
}

.search-section {
    display: flex;
    padding: 10px;
    align-self: center;
    align-items: center;
}

.search-icon {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.search-btn {
    background-color: transparent;
    border: none;
    background-size: cover;
}

.search-section p {
    color: #ffffff;
    font-size: 20px;
    align-self: center;
    font-weight: 500;

}

.icon {
    color: #ffffff;
    align-self: center;
    margin-right: 15px;
    margin-bottom: 10px;
    justify-content: center;
}

.close-btn-section2 {
    display: none;
}

.close-btn-section3 {
    display: flex;
    margin-right: 20px;
}

.close-btn-section3 p {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    align-self: center;
    margin-top: 10px;
    margin-left: 5px;

}

.close-btn-section3 button {
    background-color: transparent;
    border: none;
    align-self: center;
}

.nav-link {
    font-size: 50px;
    font-family: serif;
    color: white;
    font-weight: 500;

}


.menu-section {
    display: none;
}

.list-section {
    background-color: #1D1D1D;
    height: 100vh;
    background-size: cover;
    display: flex;
    width: 100%;
}

.list-section2 {
    display: none;
}

.list-section ul {
    list-style: none;
}

.main-list a {
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.main-list a:after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 4px;
    width: 0;
    left: 25px;
    bottom: 10px;
    transition: 0.3s;
}

.main-list a:hover {
    color: #ffffff;
}

.main-list a:hover:after {
    width: 25%;
}


.campus-sub-list {
    color: #ffffff;
    list-style: none;
    padding: 30px;
    display: none;
    margin-bottom: auto;
    margin-top: 30px;
    margin-left: -200px;
}

.campus-sub-list li {
    margin-bottom: 5px;
}

.campus-sub-list a {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}


.campus-sub-list p {
    font-size: 15px;
    width: 200px;
}

.mini-sub-list {
    color: #ffffff;
    list-style: none;
    align-self: center;
    display: none;
    margin-bottom: auto;
    margin-top: 130px;
    margin-left: 50px;
}

.mini-sub-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

.mini-sub-list a {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}


.mini-sub-list p {
    font-size: 10px;
    width: 200px;
}

.back-btn {
    display: none;
    margin-bottom: 20px;
}

.bottom-list {
    align-self: flex-;
}

.bottom-list-section {
    padding: 20px;
    width: auto;
    display: flex;
    border-width: 1000px;
    border-top: 1px solid #fff;
    align-self: flex-start;
    justify-content: space-between;
}

.bottom-list-section li {
    margin-right: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.bottom-list-special {
    font-weight: 500;
    color: #6D6D6D;

}